# Compiled class file
*.class

# ignoring target file
target/
*/.idea/
*.idea/
.idea

# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# Package Files #
*.jar
*.war
*.zip
*.tar.gz

# IntellijIdea files
*.iml
out



