<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.0.1/css/bootstrap.min.css} "/>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Vivid</title>

</head>

<body>
<header>
    <div th:insert="header">
    </div>
</header>
<section>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>Adding gift form</h3>
            </div>

            <div class="row">
                <div class="col-md-2">

                </div>
                <div class="col-md-8">
                    <form method="post" th:action="@{/wishlist/add_gift}">
                        <div class="form-group row">
                            <div class="col-md-12 mt-2">
                                <label for="giftName">Gift name</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" name="giftName" required="required"
                                           autocomplete="off"/>
                                </div>
                            </div>

                            <div class="col-md-12 mt-3">
                                <label for="giftDescription">Gift Description</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" name="giftDescription" autocomplete="off"/>
                                </div>
                            </div>

                            <div class="col-md-12 mt-3">
                                <label for="giftURL">Gift URL</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" name="giftURL" autocomplete="off"/>
                                </div>
                            </div>
                        </div>

                        <a href="/wishlist" class="btn btn-primary">Back</a>
                        <button class="btn btn-success" type="submit">Add gift</button>
                    </form>
                </div>

                <div class="col-md-2">

                </div>
            </div>

        </div>
    </div>

</section>

<script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/5.0.1/js/bootstrap.min.js}"></script>
</body>

</html>