@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}

header,footer{
    width: 100%;
    background-color: #6805c1;
    min-height: 50px;

}

header{
    border-bottom: 2px solid silver;
}

footer{
    border-top: 2px solid silver;
    margin-top: 10px;
}

body{
    width: 100%;
    height: 100%;
    color: #300a0a;
    background-color: #e3e8ec;
    font-size: 1em;
    font-family: "Segoe UI", sans-serif;
    line-height: 135%;
}

a{
    color: #1d1fa4;
    text-decoration: none;
    transition: all.6s ease;

}

a:hover{
    color: #802096;
    text-decoration: none;
    transition: all.6s ease;

}

.table{
    border: 1px solid #05090e;
    width: 100%;
    border-collapse: collapse;
    table-layout: revert;
}

.table th{
    border: 1px solid #05090e;
    padding: 5px;
    text-align: center;
}

.table td{
    border: 1px solid #05090e;
    padding: 5px;
    text-align: center;
}

span{
    text-align: center;
}

a:active{
    color: deeppink;
}

::selection{
    background: maroon; color: #e3e8ec;
}

img {
    max-width: 100%;
    height: auto;
}

.carousel-item{
    height: 600px;
}

.carousel-item img{
    height: 600px;
}