<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
  <link rel="stylesheet"
        th:href="@{/webjars/bootstrap/5.0.1/css/bootstrap.min.css} "/>
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="shortcut icon" href="/img/favicon.png" type="image/png">
  <title>Подписки</title>

</head>

<body>
<header>
  <div th:insert="header">
  </div>
</header>

<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h3 th:if="${subscriptions.isEmpty()}">Ты пока ни на кого не подписан</h3>
        <h3 th:unless="${subscriptions.isEmpty()}">Список твоих подписок, <span th:text="${user.getUserName()}">!</span></h3>
      </div>
      <div class="row">
        <div class="col-sm-3" th:unless="${subscriptions.isEmpty()}" th:each="subscription: ${subscriptions}">
          <div class="row">
            <div class="col-lg-1 text-center">
            </div>
            <div class="col-lg-10 text-center">
              <div class="card">
                <img th:if="${subscription.getUserAvatarPhotoURL() != null}" th:src="${subscription.getUserAvatarPhotoURL()}" />
                <img th:unless="${subscription.getUserAvatarPhotoURL() != null}" th:src="@{/img/no_photo2.jpg}" />
                <div class="card-body">
                  <h5 class="card-title">Имя пользователя: <span th:text="${subscription.getUserName()}"></span></h5>
                  <p class="card-text">Имя:
                    <span th:if="${subscription.getFirstName() != null}" th:text="${subscription.getFirstName()}"></span>
                    <span th:unless="${subscription.getFirstName() != null}" > не указано</span>
                  </p>
                  <p class="card-text">Фамилия:
                    <span th:if="${subscription.getLastName() != null}" th:text="${subscription.getLastName()}"></span>
                    <span th:unless="${subscription.getLastName() != null}" > не указано</span>
                  </p>
                  <div class="row">
                    <div class="col-lg text-center">
                      <a th:href="@{subscriptions/{Id}(Id=${subscription.getId()})}" class="btn btn-outline-info">WishList</a>
                    </div>
                  </div>
<!--                  </p>-->
<!--                  <a th:href="@{subscriptions/{Id}(Id=${subscription.getId()})}" class="card-link">-->
<!--                    <span th:text="${subscription.getUserName()}"></span> wish list</a>-->
<!--                  </p>-->
                  <div class="row">
                    <div class="col-lg text-center">
                      <form method="post" th:action="@{/subscriptions/unsubscribe}">
                        <input type="hidden" th:value="${user.getId()}" name="userId"/>
                        <button type="submit" class="btn btn-outline-danger" name="unsubscribedFrom"
                                th:value="*{subscription.getTgAccountId()}">Отписаться</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-1 text-center">
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>


</section>

<script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/5.0.1/js/bootstrap.min.js}"></script>
</body>

</html>